<!DOCTYPE html>
<html>

<head>
    <title>SwapD</title>
    <link rel="stylesheet" type="text/css" href="/css/newstyle.css">
    <script src="/js/loadPosts.js" defer></script>
</head>

<body onLoad=loadIndex()>
    <div class="top-bar sticky">
        <div class="logo-slogan-and-signup-container">
            <div class="fixed-width">
                <a href="/" id="logo">
                    <img src="" width="90" height="50" alt="SwapD-logo">
                    <!-- <div id="name">SwapD</div> -->
                </a>
                <div id="slogan">Connecting the community one skill at a time</div>
            </div>
            <div class='signup-and-login-container'>
                <button class='signup-and-login-button'><a id='sign-up' href="/register">Register</a></button>
                <button class='signup-and-login-button' id="login-button"><a id='log-in' href="/login">Log
                        In</a></button>
            </div>
        </div>
    </div> <!-- top-bar -->

    <!--React Test-->
    <div id="like_button_container"></div>

    <nav class="zone nav-bar">
        <ul class="main-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="home">
                <div class="dropdown">
                    <!--Dropdown menu-->
                    <button class="drop-button">Arts</button>
                    <div class="dropdown-content">
                        <a href="/post">Studio Art</a>
                        <a href="/arts-studio">Art History</a>
                        <a href="/arts-studio">Art Business</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="">Peer Tutor</a>
                        <a href="">Language</a>
                        <a href="">Study Strategy</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Sports</button>
                    <div class="dropdown-content">
                        <a href="/sports-tennis">Tennis</a>
                        <a href="/sports-tennis">Basketball</a>
                        <a href="/sports-tennis">Badminton</a>
                        <a href="/sports-tennis">Baseball</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Technology</button>
                    <div class="dropdown-content">
                        <a href="/tech-program">Programming</a>
                        <a href="/tech-program">A</a>
                        <a href="/tech-program">B</a>
                        <a href="/tech-program">C</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Fashion</button>
                    <div class="dropdown-content">
                        <a href="">Sewing</a>
                        <a href="">Fashion Illustrating</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Culinary</button>
                    <div class="dropdown-content">
                        <a href="">Cooking</a>
                        <a href="">Food Tour</a>
                    </div>
                </div>
            </li>
            <li id="home"><a href="">Career Tips</a></li>
            <li id="home"><a href="">Other</a></li>
            <li id="home"><a href="">Get Started</a></li>
            <li id="submit-post">
                <button class="submit-post-button"><a href="/submit">Submit Post</a></button>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script scr="/js/javascript.js"></script>

    <div class="zone section-under-nav grid-wrapper">
        <div class="box tile">
            <img class="post-image"
                src="https://dsonskillshare.000webhostapp.com/wp-content/uploads/2019/11/Tennis.jpg">
            <h1 id="post-title-0">Tennis</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-0">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-0">Awesome lesson Contact: 66775508</p>
            <!-- <p id="continue-reading"><a href="file:///Users/ngando1720/Documents/SwapD/tennis.html">Continue Reading</a></p> -->
            <a href="/tennis"><img class="icon-continue-reading"
                    src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
        <div class="box tile">
            <img class="post-image"
                src="https://dsonskillshare.000webhostapp.com/wp-content/uploads/2019/11/america.jpg">
            <h1 id="post-title-1">Java Lessons</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-1">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-1">Come learn Java!</p>
            <!-- <p id="continue-reading"><a href="">Continue Reading</a></p> -->
            <a><img class="icon-continue-reading" src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
        <div class="box tile">
            <img class="post-image"
                src="https://images.unsplash.com/photo-1588441259691-b04ba5e4ddf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60">
            <h1 id="post-title-2">Arts</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-2">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-2">Come learn Arts!</p>
            <!-- <p id="continue-reading"><a href="">Continue Reading</a></p> -->
            <a><img class="icon-continue-reading" src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
        <div class="box tile">
            <img class="post-image"
                src="https://dsonskillshare.000webhostapp.com/wp-content/uploads/2019/11/america.jpg">
            <h1 id="post-title-3">Java Lessons</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-3">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-3">Come learn Java!</p>
            <!-- <p id="continue-reading"><a href="">Continue Reading</a></p> -->
            <a><img class="icon-continue-reading" src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
        <div class="box tile">
            <img class="post-image"
                src="https://dsonskillshare.000webhostapp.com/wp-content/uploads/2019/11/Tennis.jpg">
            <h1 id="post-title-4">Tennis</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-4">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-4">Awesome lesson Contact: 66775508</p>
            <!-- <p id="continue-reading"><a href="file:///Users/ngando1720/Documents/SwapD/tennis.html">Continue Reading</a></p> -->
            <a href="tennis.html"><img class="icon-continue-reading"
                    src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
        <div class="box tile">
            <img class="post-image"
                src="https://dsonskillshare.000webhostapp.com/wp-content/uploads/2019/11/america.jpg">
            <h1 id="post-title-5">Java Lessons</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-5">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-5">Come learn Java!</p>
            <!-- <p id="continue-reading"><a href="">Continue Reading</a></p> -->
            <a><img class="icon-continue-reading" src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
        <div class="box tile">
            <img class="post-image"
                src="https://images.unsplash.com/photo-1588441259691-b04ba5e4ddf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60">
            <h1 id="post-title-6">Arts Lessons</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-6">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-6">Come learn Arts!</p>
            <!-- <p id="continue-reading"><a href="">Continue Reading</a></p> -->
            <a><img class="icon-continue-reading" src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
        <div class="box tile">
            <img class="post-image"
                src="https://dsonskillshare.000webhostapp.com/wp-content/uploads/2019/11/america.jpg">
            <h1 id="post-title-7">Java Lessons</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone" id="text-posted-by-someone-7">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post" id="post-7">Come learn Java!</p>
            <!-- <p id="continue-reading"><a href="">Continue Reading</a></p> -->
            <a><img class="icon-continue-reading" src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
            <!-- <button class="button-post1">Continue Reading</button> -->
        </div>
    </div> <!-- tile -->

    <!-- <div class="zone red">Side Bar</div> -->
    <footer class="zone yellow">SwapD</footer>
    
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  
    <!-- Load our React component. -->
    <script src="like_button.js"></script>
</body>

</html>