<!DOCTYPE html>
<html>

<head>
    <title>SwapD</title>
    <link rel="stylesheet/less" href="/css/styles.less" type="text/css" />
    <script src="http://lesscss.googlecode.com/files/less-1.0.21.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js" ></script>
    <script src="/js/login.js" defer></script>
</head>

<body>
    <div class="top-bar sticky">
        <div class="logo-slogan-and-signup-container">
            <div class="fixed-width">
                <a href="/" id="logo">
                    <img src="" width="90" height="50" alt="SwapD-logo">
                    <!-- <div id="name">SwapD</div> -->
                </a>
                <div id="slogan">Connecting the community one skill at a time</div>
            </div>
            <div class='signup-and-login-container'>
                <button class='signup-and-login-button'><a id='sign-up' href="/register">Register</a></button>
                <button class='signup-and-login-button' id="login-button"><a id='log-in' href="/login">Log In</a></button>
            </div>
        </div>
    </div> <!-- top-bar -->

    <nav class="zone nav-bar">
        <ul class="main-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="home">
                <div class="dropdown">
                    <!--Dropdown menu-->
                    <button class="drop-button">Arts</button>
                    <div class="dropdown-content">
                        <a href="/arts-studio">Studio Art</a>
                        <a href="/arts-studio">Art History</a>
                        <a href="/arts-studio">Art Business</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="">Peer Tutor</a>
                        <a href="">Language</a>
                        <a href="">Study Strategy</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Sports</button>
                    <div class="dropdown-content">
                        <a href="/sports-tennis">Tennis</a>
                        <a href="/sports-tennis">Basketball</a>
                        <a href="/sports-tennis">Badminton</a>
                        <a href="/sports-tennis">Baseball</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Technology</button>
                    <div class="dropdown-content">
                        <a href="/tech-program">Programming</a>
                        <a href="/tech-program">A</a>
                        <a href="/tech-program">B</a>
                        <a href="/tech-program">C</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Fashion</button>
                    <div class="dropdown-content">
                        <a href="">Sewing</a>
                        <a href="">Fashion Illustrating</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Culinary</button>
                    <div class="dropdown-content">
                        <a href="">Cooking</a>
                        <a href="">Food Tour</a>
                    </div>
                </div>
            </li>
            <li id="home"><a href="">Career Tips</a></li>
            <li id="home"><a href="">Other</a></li>
            <li id="home"><a href="">Get Started</a></li>
            <li id="submit-post">
                <button class="submit-post-button"><a href="/submit">Submit Post</a></button>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script scr="/js/javascript.js"></script>

    <div class="zone section-under-nav grid-wrapper-register-login">
        <div class="box tile">
            <form id="form" target="_blank">
                <div class="register-container">
                    <a href="/" id="logo">
                        <img src="" width="90" height="50" alt="SwapD-logo"></a>
                    <h1>Sign In</h1>
                    <hr>
                    <!-- <label class="title" for="email">Your Dickinson Email</label> -->
                    <input type="text" id="email" name="email" placeholder="Your Dickinson Email"><br><br>
                    <!-- email -->
                    <!-- <label class="title" for="password">Pass Word</label> -->
                    <input type="password" id="password" name="password" placeholder="Password"><br><br>
                    <!-- password -->
                    <!-- <label class="title" for="password">Pass Word</label> -->   
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label><br><br><!-- remember me -->
                    <input class="submit-post-button" id="submit-register" type="submit" value="Submit"><br></br>
                    <!-- submit -->
                    <a id="forgot-your-pw" href="">Forgot Your Password?</a>
                </div> <!-- register container -->
            </form>
        </div>
    </div> <!-- tile -->

    <footer class="zone yellow">SwapD</footer>
</body>

</html>