<!DOCTYPE html>
<html>

<head>
    <title>SwapD</title>
    <link rel="stylesheet" type="text/css" href="/css/post-style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/javascript.js"></script>
    <link rel="import" href="/sports-tennis">
    
</head>

<body onload="loadPostsToPage()">
    <div class="top-bar sticky">
        <div class="fixed-width">
            <div id="logo">
                <img src="" width="90" height="50" alt="SwapD-logo">
            </div>
            <div id="slogan">Connecting the community one skill at a time</div>
        </div>
    </div> <!-- top-bar -->

    <nav class="zone nav-bar">
        <ul class="main-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="home">
                <div class="dropdown">
                    <!--Dropdown menu-->
                    <button class="drop-button">Arts</button>
                    <div class="dropdown-content">
                        <a href="/arts-studio">Studio Art</a>
                        <a href="/arts-studio">Art History</a>
                        <a href="/arts-studio">Art Business</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="">Peer Tutor</a>
                        <a href="">Language</a>
                        <a href="">Study Strategy</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Sports</button>
                    <div class="dropdown-content">
                        <a href="/sports-tennis">Tennis</a>
                        <a href="/sports-tennis">Basketball</a>
                        <a href="/sports-tennis">Badminton</a>
                        <a href="/sports-tennis">Baseball</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Technology</button>
                    <div class="dropdown-content">
                        <a href="/tech-program">Programming</a>
                        <a href="/tech-program">A</a>
                        <a href="/tech-program">B</a>
                        <a href="/tech-program">C</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Fashion</button>
                    <div class="dropdown-content">
                        <a href="">Sewing</a>
                        <a href="">Fashion Illustrating</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Culinary</button>
                    <div class="dropdown-content">
                        <a href="">Cooking</a>
                        <a href="">Food Tour</a>
                    </div>
                </div>
            </li>
            <li id="home"><a href="">Career Tips</a></li>
            <li id="home"><a href="">Other</a></li>
            <li id="home"><a href="">Get Started</a></li>
            <li id="submit-post">
                <button class="submit-post-button"><a
                        href="/submit">Submit Post</a></button>
            </li>
        </ul>
    </nav>

    <!--<script>
        var temp1 = document.getElementById("template").content;
        var copy = document.importNode(temp1, true);
        //document.getElementById("test").appendChild(copy);
        var content = document.querySelector('link[rel="import"]').import;
        document.getElementById("test").appendChild(content);
    </script>-->
    <div id="loadload">

    </div>

    <div class="big-post">
        <div id="post-test1" class="post">
            <img id="image" src="https://blog.traveloka.com/en/wp-content/uploads/sites/3/2019/05/iStock-683274236.jpg">
            <h1 class="post-title" id="title">Arts</h1>
            <p>Posted <span id="createdAt"> by <span id="firstName"></span> <span id="lastName"></p>
            <p class="post-content" id="description">Art has long been recognized as an important part of a well-rounded education -- but when it comes down to setting budget priorities, the arts rarely rise to the top. Many public schools saw their visual, performing and musical arts programs cut completely during the last recession, despite the many studies showing that exposure to the arts can help with academics too. A few schools are taking the research to heart, weaving the arts into everything they do and finding that the approach not only boosts academic achievement but also promotes creativity, self-confidence and school pride.
            </p>
        </div>

        <div class="delete">
            <button class="button-post1" onclick="document.getElementById('delete-confirmation').style.display='block'"> Delete Post</button>
        </div>

        <div id="delete-confirmation" class="modal">
            <form class="modal-content" action="">
                <h3>Are you sure you want to delete your post?</h3>
                <div class="confirmation-button">
                    <button class="button-post1" type="button" onclick="document.getElementById('delete-confirmation').style.display='none'"> Cancel </button>
                    <button class="button-post1" type="button" onclick="document.getElementById('delete-confirmation').style.display='none'"> Delete </button>
                </div>
            </form>
        </div>

        <!--<a href="update-post.html">
            <button class="button-post1"> Update Post</button>
        </a>-->

        <div class="update">
            <button class="button-post1" onclick="openPopup()"> Update Post Test</button>
        </div>

        <div id="update-confirmation" class="modal">
            <form class="modal-content" action="">
                <span class="close" type="button" onclick="document.getElementById('update-confirmation').style.display='none'"> X </span>
                <label class="title" for="post">Post title:</label>
                    <input onclick="getPostTitle()" id="post-title-update" rows="1" cols="100" name="post-title" form="usrform">
                        Click to see your current post title
                    </input><br><br>
                <label class="title" for="desc">Description:</label><br><br>
                    <input onclick="getPost()" id="post-content-update" rows="6" cols="100" name="comment" form="usrform">
                        Click to see your current post contents
                    </input><br><br>
                <!-- description -->
                    <input type="submit" value="Submit" class="button-post1"><br></br>
            </form>
        </div>


        <div class="comment-box">
            <form action="" id="comment">
                <div class="name-input">
                    Name: <input type="text" name="username">
                </div>
                <div class="email-input">
                    Dickinson Email: <input type="email" name="email">
                </div>
                <div class="comment-input">
                    Leave your comment here: <input type="text" name="comment" id="comment-space">
                </div>
                <div class="">
                    <input type="submit" class="button-post1">
                </div>
              </form>
        </div> 

        <div class="show-comment comment-box">
            <div id="comment_1" class="individual-comment">
                <div class="comment-name">
                    <span> This area is for name </span>
                </div>
                <div class="comment-main">
                    Comment comment comment
                    <br>
                    Comment comment comment
                    <div class="individual-reply">
                        <div class="comment-name">
                            <span> This area is for name </span>
                        </div>
                        <div class="comment-main comment-secondary">
                            Comment comment comment reply reply Reply
                            <br>
                            reply reply
                            <br>
                            comment
                        </div>
                    </div>

                    <div class="individual-reply">
                        <div class="comment-name">
                            <span> This area is for name </span>
                        </div>
                        <div class="comment-main comment-secondary">
                            Comment comment comment reply reply Reply
                            <br>
                            reply reply
                            <br>
                            comment
                        </div>
                    </div>
                </div>
                <form class="comment-reply" action="">
                    <input type="text" class="reply-box" id="reply" name="reply-comment" value="Leave your reply">
                    <input type="submit" value="Reply" class="button-post1"><br></br>
                </form>
            </div>
            <div id="comment_2" class="individual-comment">
                <div class="comment-name">
                    <span> This area is for name </span>
                </div>
                <div class="comment-main">
                    Comment comment comment
                    <br>
                    Comment comment comment
                </div>
                <div class="individual-reply">
                    <div class="comment-name">
                        <span> This area is for name </span>
                    </div>
                    <div class="comment-main comment-secondary">
                        Comment comment comment reply reply Reply
                        <br>
                        reply reply
                        <br>
                        comment
                    </div>
                </div>
                <form class="comment-reply" action="">
                    <input type="text" class="reply-box" id="reply" name="reply-comment" value="Leave your reply">
                    <input type="submit" value="Reply" class="button-post1"><br></br>
                </form>
            </div>
            <div id="comment_2" class="individual-comment">
                <div class="comment-name">
                    <span> This area is for name </span>
                </div>
                <div class="comment-main">
                    Comment comment comment
                    <br>
                    Comment comment comment
                </div>
                <form class="comment-reply" action="">
                    <input type="text" class="reply-box" id="reply" name="reply-comment" value="Leave your reply">
                    <input type="submit" value="Reply" class="button-post1"><br></br>
                </form>
            </div>
        </div>
            
        <a href="art-page.html"><button class="button-post1">More in Art</button> </button></a>
    </div>

    <footer class="foot">SwapD</footer>
    <script src="/js/loadPosts.js"></script>
</body>
</html>