<!DOCTYPE html>
<html>

<head>
    <title>SwapD</title>
    <link rel="stylesheet" type="text/css" href="/css/register-login-style.css">
    <script src="/js/registration.js" defer></script>
</head>

<body>
    <div class="top-bar sticky">
        <div class="logo-slogan-and-signup-container">
            <div class="fixed-width">
                <a href="newindex.html" id="logo">
                    <img src="" width="90" height="50" alt="SwapD-logo">
                    <!-- <div id="name">SwapD</div> -->
                </a>
                <div id="slogan">Connecting the community one skill at a time</div>
            </div>
            <div class='signup-and-login-container'>
                <button class='signup-and-login-button'><a id='sign-up' href="register.html">Register</a></button>
                <button class='signup-and-login-button' id="login-button"><a id='log-in' href="login.html">Log In</a></button>
            </div>
        </div>
    </div> <!-- top-bar -->

    <nav class="zone nav-bar">
        <ul class="main-nav">
            <li id="home"><a href="newindex.html">Home</a></li>
            <li id="home">
                <div class="dropdown">
                    <!--Dropdown menu-->
                    <button class="drop-button">Arts</button>
                    <div class="dropdown-content">
                        <a href="arts-studio.html">Studio Art</a>
                        <a href="arts-studio.html">Art History</a>
                        <a href="arts-studio.html">Art Business</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="">Peer Tutor</a>
                        <a href="">Language</a>
                        <a href="">Study Strategy</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Sports</button>
                    <div class="dropdown-content">
                        <a href="sports-tennis.html">Tennis</a>
                        <a href="sports-tennis.html">Basketball</a>
                        <a href="sports-tennis.html">Badminton</a>
                        <a href="sports-tennis.html">Baseball</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Technology</button>
                    <div class="dropdown-content">
                        <a href="tech-program.html">Programming</a>
                        <a href="tech-program.html">A</a>
                        <a href="tech-program.html">B</a>
                        <a href="tech-program.html">C</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Fashion</button>
                    <div class="dropdown-content">
                        <a href="">Sewing</a>
                        <a href="">Fashion Illustrating</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Culinary</button>
                    <div class="dropdown-content">
                        <a href="">Cooking</a>
                        <a href="">Food Tour</a>
                    </div>
                </div>
            </li>
            <li id="home"><a href="">Career Tips</a></li>
            <li id="home"><a href="">Other</a></li>
            <li id="home"><a href="">Get Started</a></li>
            <li id="submit-post">
                <button class="submit-post-button"><a href="submit-post.html">Submit Post</a></button>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script scr="javascript.js"></script>

    <div class="zone section-under-nav grid-wrapper">
        <div class="box tile">
            <form id="form" target="_blank">
                <div class="register-container">
                    <a href="newindex.html" id="logo">
                        <img src="" width="90" height="50" alt="SwapD-logo"></a>
                    <h1>Register</h1>
                    <hr>
                    <div class='first-last-name-container'>
                        <!-- <label class="title" for="fname">First name:</label> -->
                        <input type="text" id="fname" name="fname" placeholder="Your First Name">
                        <!-- first name -->
                        <!-- <label class="title" for="lname">Last name:</label> -->
                        <input type="text" id="lname" name="lname" placeholder="Your Last Name">
                        <!-- last name -->
                    </div><br><br>
                    <!-- <label class="title" for="email">Your Dickinson Email</label> -->
                    <input type="text" id="email" name="email" placeholder="Your Dickinson Email"><br><br>
                    <!-- email -->
                    <!-- <label class="title" for="password">Pass Word</label> -->
                    <input type="password" id="password" name="password" placeholder="Password"><br><br>
                    <!-- password -->
                    <!-- <label class="title" for="password">Pass Word</label> -->
                    <input type="password" id="confirm-password" name="cfpassword"
                        placeholder="Confirm Password"><br><br>
                    <!-- confirm password -->
                    <div class="learner-instructor">
                        <p id="note">* Please answer this question: Are you signing up to be a learner or an instructor?
                        </p>
                        <select id="learner-instructor" name="learner-instructor">
                            <option value="learner">Learner</option>
                            <option value="instructor">Instructor</option>
                            <option value="both">Both</option>
                        </select><br><br>
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label><!-- remember me -->
                    <p>By registering an account, you agree to our <a href="" style="color:#b81c36">Terms & Privacy</a>.
                    </p>
                    <input class="submit-post-button" id="submit-register" type="submit" value="Submit"><br></br>
                    <!-- submit -->
                </div> <!-- register container -->
            </form>
        </div>
    </div> <!-- tile -->

    <footer class="zone yellow">SwapD</footer>
</body>

</html>