<!DOCTYPE html>
<html>

<head>
    <title>SwapD</title>
    <link rel="stylesheet/less" href="/css/styles.less" type="text/css" />
    <script src="http://lesscss.googlecode.com/files/less-1.0.21.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js" ></script>
</head>

<body>
    <div class="top-bar sticky">
        <div class="logo-slogan-and-signup-container">
            <div class="fixed-width">
                <a href="/" id="logo">
                    <img src="" width="90" height="50" alt="SwapD-logo">
                    <!-- <div id="name">SwapD</div> -->
                </a>
                <div id="slogan">Connecting the community one skill at a time</div>
            </div>
            <div class='signup-and-login-container'>
                <button class='signup-and-login-button'><a id='sign-up' href="/register">Register</a></button>
                <button class='signup-and-login-button' id="login-button"><a id='log-in' href="/login">Log In</a></button>
            </div>
        </div>
    </div> <!-- top-bar -->

    <nav class="zone nav-bar">
        <ul class="main-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="home">
                <div class="dropdown">
                    <!--Dropdown menu-->
                    <button class="drop-button">Arts</button>
                    <div class="dropdown-content">
                        <a href="/arts-studio">Studio Art</a>
                        <a href="/arts-studio">Art History</a>
                        <a href="/arts-studio">Art Business</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="">Peer Tutor</a>
                        <a href="">Language</a>
                        <a href="">Study Strategy</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Sports</button>
                    <div class="dropdown-content">
                        <a href="/sports-tennis">Tennis</a>
                        <a href="/sports-tennis">Basketball</a>
                        <a href="/sports-tennis">Badminton</a>
                        <a href="/sports-tennis">Baseball</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Technology</button>
                    <div class="dropdown-content">
                        <a href="/tech-program">Programming</a>
                        <a href="/tech-program">A</a>
                        <a href="/tech-program">B</a>
                        <a href="/tech-program">C</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Fashion</button>
                    <div class="dropdown-content">
                        <a href="">Sewing</a>
                        <a href="">Fashion Illustrating</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Culinary</button>
                    <div class="dropdown-content">
                        <a href="">Cooking</a>
                        <a href="">Food Tour</a>
                    </div>
                </div>
            </li>
            <li id="home"><a href="">Career Tips</a></li>
            <li id="home"><a href="">Other</a></li>
            <li id="home"><a href="">Get Started</a></li>
            <li id="submit-post">
                <button class="submit-post-button"><a
                        href="/submit">Submit Post</a></button>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script scr="/js/javascript.js"></script>

    <div class="zone section-under-nav grid-wrapper">
        <div class="box tile">
            <img class="post-image" src="https://dsonskillshare.000webhostapp.com/wp-content/uploads/2019/11/Tennis.jpg">
            <h1>Tennis</h1>
            <div class="icon-text-posted-by-someone">
                <img class="icon-posted-by-someone" src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                <p class="text-posted-by-someone">Posted on 21st November 2019 by Hoang</p>
            </div>
            <p class="post">Awesome lesson Contact: 66775508</p>
            <a><img class="icon-continue-reading" src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
        </div>
    </div> <!-- tile -->

    <footer class="zone yellow">SwapD</footer>
</body>

</html>