<!DOCTYPE html>
<html>

<head>
    <title>SwapD</title>
    <link rel="stylesheet/less" href="/css/styles.less" type="text/css" />
    <script src="http://lesscss.googlecode.com/files/less-1.0.21.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js" ></script>
    <script src="/js/submission.js" defer></script>
</head>

<body>
    <div class="top-bar sticky">
        <div class="logo-slogan-and-signup-container">
            <div class="fixed-width">
                <a href="/" id="logo">
                    <img src="" width="90" height="50" alt="SwapD-logo">
                    <!-- <div id="name">SwapD</div> -->
                </a>
                <div id="slogan">Connecting the community one skill at a time</div>
            </div>
            <div class='signup-and-login-container'>
                <button class='signup-and-login-button'><a id='sign-up' href="/register">Register</a></button>
                <button class='signup-and-login-button' id="login-button"><a id='log-in' href="/login">Log In</a></button>
            </div>
        </div>
    </div> <!-- top-bar -->

    <nav class="zone nav-bar">
        <ul class="main-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="home">
                <div class="dropdown">
                    <!--Dropdown menu-->
                    <button class="drop-button">Arts</button>
                    <div class="dropdown-content">
                        <a href="/arts-studio">Studio Art</a>
                        <a href="/arts-studio">Art History</a>
                        <a href="/arts-studio">Art Business</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="">Peer Tutor</a>
                        <a href="">Language</a>
                        <a href="">Study Strategy</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Sports</button>
                    <div class="dropdown-content">
                        <a href="/sports-tennis">Tennis</a>
                        <a href="/sports-tennis">Basketball</a>
                        <a href="/sports-tennis">Badminton</a>
                        <a href="/sports-tennis">Baseball</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Technology</button>
                    <div class="dropdown-content">
                        <a href="/tech-program">Programming</a>
                        <a href="/tech-program">A</a>
                        <a href="/tech-program">B</a>
                        <a href="/tech-program">C</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Fashion</button>
                    <div class="dropdown-content">
                        <a href="">Sewing</a>
                        <a href="">Fashion Illustrating</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Culinary</button>
                    <div class="dropdown-content">
                        <a href="">Cooking</a>
                        <a href="">Food Tour</a>
                    </div>
                </div>
            </li>
            <li id="home"><a href="">Career Tips</a></li>
            <li id="home"><a href="">Other</a></li>
            <li id="home"><a href="">Get Started</a></li>
            <li id="submit-post">
                <button class="submit-post-button"><a
                        href="/submit">Submit Post</a></button>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script scr="/js/javascript.js"></script>

    <div class="zone section-under-nav grid-wrapper">
        <form id="form" target="_blank" action="/uploadfile" method="POST" enctype="multipart/form-data">
            <label class="title" for="fname">First name:</label>
            <input type="text" id="fname" name="fname" placeholder="Enter your first name"><br><br> <!-- first name -->
            <label class="title" for="lname">Last name:</label>
            <input type="text" id="lname" name="lname" placeholder="Enter your last name"><br><br> <!-- last name -->
            <label class="title" for="email">Dickinson email:</label>
            <input style=width:180px; type="text" id="email" name="email" placeholder="Enter your Dickinson email">
            <!-- email -->
            <p id="note">(This will not be made public. It is only used for verification purposes)</p>
            <label class="title" for="post">Post title:</label>
            <input type="text" id="postTit" name="post" placeholder="Enter your post title"><br><br> <!-- post title -->
            <label class="title" for="desc">Description:</label><br><br>
            <textarea rows="6" cols="100" name="comment" id="desc" form="usrform">Describe your post...</textarea><br><br>
            <!-- description -->
            <label class="title" for="image">Image Upload:</label>
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload Image" name="submit"><br><br> <!-- image upload -->
            <div class="dropdown">
                <label for="cate">Category:</label>
                <button class="dropbtn">Choose a category
                    <i class="fa fa-caret-down"></i>
                </button>
                <select name="categories" id="categories">
                    <option value="arts">Arts</option>
                    <option value="academics">Academics</option>
                    <option value="sports">Sports</option>
                    <option value="tech">Technology</option>
                    <option value="fashion">Fashion</option>
                    <option value="culinary">Culinary</option>
                    <option value="others">Others</option>
                </div> <!-- category -->
            </div><br></br>
            <label class="title" for="tags">Tags:</label>
            <input type="text" id="tags" name="tags" placeholder="Enter your tags"><br></br> <!-- tags -->
            <label class="title" for="verif">Verification:</label>
            <p id="verif">Please answer this question: When was Dickinson College founded?</p>
            <input type="answer" id="answer" name="answer" placeholder="Enter your answer"><br></br> <!-- verification -->
            <input type="submit" value="Submit"><br></br> <!-- submit -->
        </form>
    </div> <!-- tile -->

    <!-- <div class="zone red">Side Bar</div> -->
    <footer class="zone yellow">SwapD</footer>
</body>

</html>