<!DOCTYPE html>
<html>

<head>
    <title>SwapD</title>
    <link rel="stylesheet" type="text/css" href="/css/newstyle.css">
</head>

<body>
    <div class="top-bar sticky">
        <div class="logo-slogan-and-signup-container">
            <div class="fixed-width">
                <a href="newindex.html" id="logo">
                    <img src="" width="90" height="50" alt="SwapD-logo">
                    <!-- <div id="name">SwapD</div> -->
                </a>
                <div id="slogan">Connecting the community one skill at a time</div>
            </div>
            <div class='signup-and-login-container'>
                <button class='signup-and-login-button'><a id='sign-up' href="register.html">Register</a></button>
                <button class='signup-and-login-button' id="login-button"><a id='log-in' href="login.html">Log
                        In</a></button>
            </div>
        </div>
    </div> <!-- top-bar -->

    <nav class="zone nav-bar">
        <ul class="main-nav">
            <li id="home"><a href="newindex.html">Home</a></li>
            <li id="home">
                <div class="dropdown">
                    <!--Dropdown menu-->
                    <button class="drop-button">Arts</button>
                    <div class="dropdown-content">
                        <a href="arts-studio.html">Studio Art</a>
                        <a href="arts-studio.html">Art History</a>
                        <a href="arts-studio.html">Art Business</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="">Peer Tutor</a>
                        <a href="">Language</a>
                        <a href="">Study Strategy</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Sports</button>
                    <div class="dropdown-content">
                        <a href="sports-tennis.html">Tennis</a>
                        <a href="sports-tennis.html">Basketball</a>
                        <a href="sports-tennis.html">Badminton</a>
                        <a href="sports-tennis.html">Baseball</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Technology</button>
                    <div class="dropdown-content">
                        <a href="tech-program.html">Programming</a>
                        <a href="tech-program.html">A</a>
                        <a href="tech-program.html">B</a>
                        <a href="tech-program.html">C</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Fashion</button>
                    <div class="dropdown-content">
                        <a href="">Sewing</a>
                        <a href="">Fashion Illustrating</a>
                    </div>
                </div>
            </li>
            <li id="home">
                <div class="dropdown">
                    <button class="drop-button">Culinary</button>
                    <div class="dropdown-content">
                        <a href="">Cooking</a>
                        <a href="">Food Tour</a>
                    </div>
                </div>
            </li>
            <li id="home"><a href="">Career Tips</a></li>
            <li id="home"><a href="">Other</a></li>
            <li id="home"><a href="">Get Started</a></li>
            <li id="submit-post">
                <button class="submit-post-button"><a href="submit-post.html">Submit Post</a></button>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script scr="javascript.js"></script>

    <div class="zone section-under-nav">
        <div class="tile-align-user-info">
            <div class="left-side-tile-user-info">
                <div class="big-box-left">
                    <img id="avatar"
                        src="https://images.unsplash.com/photo-1448376561459-dbe8868fa34c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="avatar" style="width:100%">
                    <h1>Firstname Lastname</h1>
                    <p class="general-info">Student, Class of (Year)</p>
                    <p class="general-info">Computer Science Major</p>
                    <p class="general-info">Dickinson College</p>
                    <p class="description-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque dignissim neque porta nunc laoreet, ut placerat nulla feugiat. Donec
                        eget blandit tellus, vitae pellentesque risus. Nullam mattis auctor ligula, sed
                        lobortis purus. Fusce dictum, mi eu tempus ultrices, dolor massa pretium lectus,
                        at ullamcorper purus arcu ac mauris. Sed vitae iaculis mi. Mauris nec purus fermentum,
                        vulputate metus vel, semper augue. Proin eu tincidunt metus. Sed ac nunc ex. Sed
                        rhoncus nunc nec vulputate bibendum. Fusce ut nisl vitae metus gravida tristique.
                        Aliquam ac quam vitae justo lobortis condimentum et nec orci. Etiam non sollicitudin
                        ante.</p>
                    <div class="icon-contact-container">
                        <a href=""><img class="icon-contact" id="email-contact"
                                src="https://image.flaticon.com/icons/svg/732/732223.svg"></a>
                        <a href=""><img class="icon-contact" id="facebook-contact"
                                src="https://image.flaticon.com/icons/svg/1384/1384053.svg"></a>
                        <a href=""><img class="icon-contact" id="insta-contact"
                                src="https://image.flaticon.com/icons/svg/733/733558.svg"></a>
                    </div>
                </div>
            </div> <!-- left-side-tile -->

            <div class="right-side-tile-user-info">
                <h2 style="text-align:center;line-height: 0.8em;">Posted by (username)</h2>
                <div class="side-box-container">
                    <div class="box-user-info side-box-user-info">
                        <img src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                            width=250 height=150>
                        <h1>Arts</h1>
                        <div class="icon-text-posted-by-someone">
                            <img class="icon-posted-by-someone"
                                src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                            <p class="text-posted-by-someone">Posted on 23rd June 2020 by (username)</p>
                        </div>
                        <p id="post">Awesome lesson Contact: 66775508</p>
                        <a><img class="icon-continue-reading"
                                src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
                    </div> <!-- side-box -->
                    <div class="box-user-info side-box-user-info">
                        <img src="https://images.unsplash.com/photo-1485546784815-e380f3297414?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                            width=250 height=150>
                        <h1>Arts</h1>
                        <div class="icon-text-posted-by-someone">
                            <img class="icon-posted-by-someone"
                                src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                            <p class="text-posted-by-someone">Posted on 23rd June 2020 by (username)</p>
                        </div>
                        <p id="post">Awesome lesson Contact: 66775508</p>
                        <a><img class="icon-continue-reading"
                                src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
                    </div> <!-- side-box -->
                    <div class="box-user-info side-box-user-info">
                        <img src="https://images.unsplash.com/photo-1485546784815-e380f3297414?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                            width=250 height=150>
                        <h1>Arts</h1>
                        <div class="icon-text-posted-by-someone">
                            <img class="icon-posted-by-someone"
                                src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                            <p class="text-posted-by-someone">Posted on 23rd June 2020 by (username)</p>
                        </div>
                        <p id="post">Awesome lesson Contact: 66775508</p>
                        <a><img class="icon-continue-reading"
                                src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
                    </div> <!-- side-box -->
                    <div class="box-user-info side-box-user-info">
                        <img src="https://images.unsplash.com/photo-1485546784815-e380f3297414?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                            width=250 height=150>
                        <h1>Arts</h1>
                        <div class="icon-text-posted-by-someone">
                            <img class="icon-posted-by-someone"
                                src="https://image.flaticon.com/icons/svg/1717/1717787.svg">
                            <p class="text-posted-by-someone">Posted on 23rd June 2020 by (username)</p>
                        </div>
                        <p id="post">Awesome lesson Contact: 66775508</p>
                        <a><img class="icon-continue-reading"
                                src="https://image.flaticon.com/icons/svg/216/216680.svg"></a>
                    </div> <!-- side-box -->
                </div> <!-- side-box-container -->
                <div style="display: flex; justify-content: center;">
                    <button class="submit-post-button">
                        <a style="text-decoration: none; color: white; padding: 0px 10px 0px 10px;" href="">More</a>
                    </button>
                </div>
            </div> <!-- right-side-tile -->
        </div> <!-- tile-align -->
    </div> <!-- tile -->

    <!-- <div class="zone red">Side Bar</div> -->
    <footer class="zone yellow">SwapD</footer>
</body>

</html>