.box-user-info {
    background-color: white; 
    margin: 15px;
    transition: 1s;
  }
  
  .tile-align-user-info {
    display: flex;
    padding: 15px;
  }
  
  .left-side-tile-user-info {
    display: grid;
  }
  
  .big-box-left {
   background-color: white; 
   padding: 25px;
   transition: 1s;
   line-height: 0.8em;
   display: flex;
   flex-direction: column;
   /* for update button sticks to bottom */
   position: relative;
  }   
  
  #avatar {
    height: 20em;
    width: 30em;
  }
  
  .general-info {
    opacity: 0.7;
    font-style: italic;
  }
  
  .description-info {
    line-height: 1.1em;
    font-size: 0.9em;
  }
  
  .icon-contact-container {
    display: flex;
  }
  
  .icon-contact {
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  
  .icon-contact:hover {
    opacity: 0.75;
  }
  
  .side-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 40px 0px 40px;
    line-height: 0.5em;
    justify-self: center;
  }
  
  .side-box-user-info {
    background-color: white; 
    padding: 20px 20px 20px 20px;
    transition: 1s;
    display: flex;
    flex-direction: column;
  }
  
  .button-comment {
    height: 40px;
    width: 140px;
    background-color: #c8102e; /* Dickinson's Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    margin: 15px 0px 0px 0px;
    cursor: pointer;    
  }
  
  .button-comment:hover {
    background-color: #b81c36;
    color: black;
  }